@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: "vogueb";
  src: url("../assets/fonts/vogueb.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "iransans";
  src: url("../assets/fonts/IRANSansWeb(FaNum).woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "iransans";
  src: url("../assets/fonts/IRANSansWeb\(FaNum\)_Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "iransans";
  src: url("../assets/fonts/IRANSansWeb\(FaNum\)_Bold.woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "iransans";
  src: url("../assets/fonts/IRANSansWeb\(FaNum\)_Light.woff2");
  font-weight: 200;
  font-style: normal;
}
body {
  direction: rtl;
  font-family: "iransans";
  background: #2d2d2d;
}
